body {
    background-color: #daf205;
}

#app {
    border-radius: 10px;
    padding: 30px;
}

.card {
    margin-bottom: 15px;
}

.form-switch .form-check-input {
    width: 3em;
}

.form-check-label {
    color: rgb(0, 0, 0);
}